@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  background: linear-gradient(#041414, #ccddcc, #041414);
  font-family: sans-serif, verdana;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

p, .apps-title, .profiles-title {
  text-align: center;
  color: white;
}

.divider {
  border-bottom: 3px solid white;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}

#name {
  margin-left: 40px;
  padding-left: 2px;
}

header {
background-color: white;
position: fixed;
width: 100vw;
left: 0;
right: 0;
top: 0;
display: flex;
justify-content: space-between;
align-items: center;
height: 50px;
border: none;
}

#welcome-section {
  height: 100vh;
  color: white;
}

#join-me {
  animation: slideInLeft;
  animation-duration: 4s;
}

nav {
  width: 50%;
  max-width: 300px;
  height: 50px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  color: #dfdfe2;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}

li {
  list-style-type: none;
}

#name {
  font-color: white;
}

section {
  border: 2px solid white;
}

.gallery {
  display: flex;
  flex-direction: column;
/*   flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  gap: 16px;
/*   max-width: 1400px; */
  width: 80%;
  margin: 0 auto;
  padding: 20px 10px;
/*   border: 2px solid pink; */
}

.gallery img {
  width: 100%;
  max-width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.apps-tiles, .profiles-tiles {
  display: flex;
/*   border: 2px solid orange; */
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
}

.tile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
/*   border: 2px solid orange; */
  height: 100%;
  align-items: center;
}

.tile-picture {
  display: flex;
/*   align-items: center; */
}

.tile-name {
  display: flex;
}

h3 {
  color: white;
  text-align: center;
}

.social-icons {
  display: flex;
  flex-position: row;
  justify-content: space-evenly;
  font-size: 2rem;
  align-items: center;
  padding-bottom: 2%;
}

.profile-link {
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

#profiles {
  padding-bottom: 25
}

.profile-link {
  color: rgb(200, 0, 0)
}

footer {
  padding: 20 0 20 0;
  font-size: 0.8rem;
}

p[class~="footer"] {
  color: #bcbcbb
}
